In [5]:
import pandas as pd
import os

In [6]:
dir_path = '/Users/joelmugyenyi/Desktop/API/GIS/'
filename = 'Kigali Customers _XLs.xls'
filepath = os.path.join(dir_path, filename)

In [10]:
df = pd.read_excel(filepath, sheet_name=0)

In [11]:
df.head()

,ID,LandlordNames,LandlordContact,MeterNumber,East,North,District,Sector,Cellule,Village
0,1,TWAHIRWA FELICITEE,NaN,4.226633e+09,505612.8936,4.782948e+06,Nyarugenge,Nyakabanda,Munanira Ii,Gasiza
1,2,NZARAMBA,NaN,4.214036e+09,505628.7920,4.782950e+06,Nyarugenge,Kimisagara,Kamuhoza,Ituze
2,3,MUKURU NTWARI,+250788305799/0728898417,1.318761e+09,505672.0726,4.782965e+06,Nyarugenge,Kimisagara,Kamuhoza,Ituze
3,4,MUKURU NTWARI,+250788305799/0788516583,1.423578e+10,505677.8654,4.782972e+06,Nyarugenge,Kimisagara,Kamuhoza,Ituze
4,5,RANGISABA EPIMAQUE,+250727601367,1.318760e+09,505635.7599,4.782973e+06,Nyarugenge,Kimisagara,Kamuhoza,Ituze